.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.input {
    border-radius: 10px;
    height: 30px;
    width: 300px;
}

.search {
    display: flex;
    gap: 10px;
}

input[type="submit"] {
    width: 50px;
    height: 40px;
    background-color: rgb(58, 58, 145);
    color: white;
    border-radius: 10px;
    border-color: aliceblue;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    border: 5px solid black;
    width: 200px;
}