.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
   
}

body {
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

@media (max-width: 900px)
{
    body {
        min-height: 100vh;
    }
}

.input {
    border-radius: 10px;
    height: 30px;
    width: 80%;
    min-width: 200px;
}

.search {
    display: flex;
    margin-top: -40px;
    gap: 10px;
    width: 30%;
    min-width: fit-content;

}

form {
    width: 100%;
}

input[type="submit"] {
    width: 15%;
    min-width: 40px;
    height: 40px;
    background-color: rgb(58, 58, 145);
    color: white;
    border-radius: 10px;
    border-color: aliceblue;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

li {
    border: 2px solid black;
    width: 200px;
    padding: 10px;
}

.main {
    background-color: #FCFCFC;
    padding: 2%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.errorBtn {
    background-color: red;
    height: 40px;
    cursor: pointer;
}

.errorBoundary {
    background-color: #FCFCFC;
}