@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Ga+Maamli&family=Permanent+Marker&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
   
}

.input {
    border-radius: 5px;
    height: 40px;
    width: 80%;
    min-width: 200px;
}

.search {
    display: flex;
    margin-top: -40px;
    width: 30%;
    min-width: fit-content;

}

.title {
    font-weight: bold;
}

.main {
    margin: auto;
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #F9FAFB;
    padding: 2%;
    width: 80%;
    border-radius: 20px;
}

.detailsMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details {
    width: 100%;
}

.pageNumber {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #110C13;

}

.active {
    color: #4C8CD7 !important;
}

.pageNumber:hover {
   
    background-color: #110C13;
    color: white;    
}


.errorBtn {
    background-color: #b30000;
    height: 40px;
    font-family: "Antonio", sans-serif;;
    cursor: pointer;
    color: white;
}

.errorBoundary {
    background-color: #FCFCFC;
}
  
.spinner {
    border: 4px solid rgba(255,255,255);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}
  
.header {
    width: 100%;
    background-color: #110C13;
    margin: 0;
    padding: 20px 0;
    opacity: 0.7;

}

.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 80vh;
    font-size: 2rem;
}

.pages {
    color: black;
    display: flex;
    gap: 50px;
}

.checkboxes-list {
    display: flex;
}

.btns {
    display: flex;
    gap: 20px;
}

.btns input[type="submit"] {
    width:fit-content;
}

.lightTheme {
    background-color: #ffffff;
    color: #000000;
  }
  
.darkTheme {
    background-color: #0F0B11;
    color: #ffffff;
}

.download {
    background-color: #4C8CD7;
    color: white;
    border-radius: 5px;
    border-color: aliceblue;
    height: 40px;
    border-width: 1px;
    cursor: pointer;
    width:fit-content;

}

.btns {
    display: flex;
    flex-direction: row;
}

.switch {
    background-color: #8A9796;
    color: white;
}